@font-face {
	font-family: 'Monopoly';
	src:url('/fonts/Monopoly.eot');
	src:url('/fonts/Monopoly.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Monopoly.ttf') format('truetype'),
		url('/fonts/Monopoly.woff') format('woff'),
		url('/fonts/Monopoly.svg#Monopoly') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	margin: 0;
	font-family: "ITCKabelW01-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#monopoly {
	height: 200px;
	position: absolute;
	top: 45%;
	margin-top: -100px;
	white-space: nowrap;
}

.board {
	height: 100%;
	position: relative;
	display: inline-block;
}

.square {
	width: 120px;
	height: 200px;
	position: relative;
	display: inline-block;
	margin: 0 2px;
	background: #222;
}

.square.purple {
	background: #4A2D86;
}

.square.light-blue {
	background: #348191;
}

.square.orange {
	background: #D5591E;
}

.square.pink {
	background: #B01E86;
}

.square.red {
	background: #BB2626;
}

.square.yellow {
	background: #FBAE00;
}

.square.green {
	background: #009364;
}

.square.blue {
	background: #005A88;
}

.square .name, .square .price, .square .owner, .square .owner:before, .square .improvements {
	position: absolute;
}

.square .price, .square .owner, .square .improvements {
	color: rgba(255, 255, 255, 0.5);
}

.square .name, .square .price {
	text-align: center;
}

.square .name, .square .price, .square .improvements {
	font-size: 13px
}

.square .name {
	width: 100px;
	padding: 0 10px;
	top: 15px;
	color: #FFF;
	text-transform: uppercase;
	white-space: normal;
}

.square .price {
	width: 120px;
	bottom: 10px;
}

.square .owner {
	bottom: 5px;
	left: 5px;
}

.square .owner:before {
	bottom: 0;
	left: 3px;
}

.square .improvements {
	bottom: 10px;
	right: 15px;
}

.player {
	width: 40px;
	height: 40px;
	position: absolute;
	margin: -10px 0 0 -20px;
	text-align: center;
	line-height: 40px;
	z-index: 2;
}

.player .piece:before {
	color: #FFF;
	font-size: 32px;
}
	
.player .piece:before, .square .owner:before {
	font-family: 'Monopoly';
}

.player.wheelbarrow .piece:before, .square .owner.wheelbarrow:before {
	content: '\e600';
}

.player.thimble .piece:before, .square .owner.thimble:before {
	content: '\e601';
}

.player.shoe .piece:before, .square .owner.shoe:before {
	content: '\e602';
}

.player.ship .piece:before, .square .owner.ship:before {
	content: '\e603';
}

.player.iron .piece:before, .square .owner.iron:before {
	content: '\e604';
}

.player.hat .piece:before, .square .owner.hat:before {
	content: '\e605';
}

.player.dog .piece:before, .square .owner.dog:before {
	content: '\e606';
}

.player.car .piece:before, .square .owner.car:before {
	content: '\e607';
}